/*
┏━╸┏━┓┏┓╻╺┳╸┏━┓
┣╸ ┃ ┃┃┗┫ ┃ ┗━┓
╹  ┗━┛╹ ╹ ╹ ┗━┛
*/

#urlbar {
  font-family: "JetbrainsMono Nerd Font Mono" !important;
  font-size: 13px !important;
}

/*
╻ ╻╻╺┳┓╺┳┓┏━╸┏┓╻
┣━┫┃ ┃┃ ┃┃┣╸ ┃┗┫
╹ ╹╹╺┻┛╺┻┛┗━╸╹ ╹
┏┓╻┏━┓╻ ╻┏┓ ┏━┓┏━┓
┃┗┫┣━┫┃┏┛┣┻┓┣━┫┣┳┛
╹ ╹╹ ╹┗┛ ┗━┛╹ ╹╹┗╸
*/

#nav-bar:not([customizing]) {
  opacity: 0;
  min-height: 5px;
  max-height: 5px;
  transition: max-height 100ms linear 100ms, opacity 100ms ease 100ms !important;
}

#nav-bar:hover,
#nav-bar:focus-within {
  opacity: 1;
  min-height: 5px;
  max-height: 50px; 
  transition-duration: 200ms !important;
  transition-delay: 0s, 200ms !important;
}

#urlbar:not([customizing]) {
  min-height: 5px;
  max-height: 5px;
  transition: max-height 100ms linear 100ms, opacity 100ms ease 100ms !important;
}

#urlbar:focus-within {
  min-height: 5px;
  max-height: 50px !important; 
  transition-duration: 100ms !important;
  transition-delay: 0s, 100ms !important;
}

#urlbar:focus-within {
  height: 0% !important;
}


toolbar{
    min-height: 3px !important;
}

.urlbar-input-container {
    height: 100% !important;
}

.urlbarView {
    background: var(--arrowpanel-background) !important;
    border-radius: 5px;
}

/* 
┏━┓┏━╸┏┳┓┏━┓╻ ╻╻┏┓╻┏━╸
┣┳┛┣╸ ┃┃┃┃ ┃┃┏┛┃┃┗┫┃╺┓
╹┗╸┗━╸╹ ╹┗━┛┗┛ ╹╹ ╹┗━┛
┏━╸┏━┓┏┳┓┏━┓┏━┓┏┓╻┏━╸┏┓╻╺┳╸┏━┓
┃  ┃ ┃┃┃┃┣━┛┃ ┃┃┗┫┣╸ ┃┗┫ ┃ ┗━┓
┗━╸┗━┛╹ ╹╹  ┗━┛╹ ╹┗━╸╹ ╹ ╹ ┗━┛
*/

/* Hide tab bar */
#TabsToolbar {
  visibility: collapse;
}

#TabsToolbar .titlebar-spacer {
    display: none !important;
}


#titlebar {
  display: none !important;
}

/* Titlebar Window Control Buttons */
.titlebar-buttonbox-container{ display:none }

